@using Frontend.Providers
<AuthStateProvider NotLoggedInDefault="@notLoggedIn">
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
</AuthStateProvider>

@code
{
    private readonly RenderFragment notLoggedIn = @<p>You have to be logged in to procees</p>;
}