@using Frontend.Services
@using Frontend.Components.Dialogs
@using Frontend.Constants
@using Entities.Dto.AuthDto
@inject UserApiService _userApiService

<h2>Add friend</h2>

<EditForm Model="@_model">
    <label for="username">Username: </label>
    <InputText id="username" @bind-Value="@_model.UserName"/>
    <UserSelectDialog
        Icon="@IconName.Plus"
        DialogTitle="Found users"
        SubmitTitle="Send request"
        Users="@_foundUsers"
        OnOpen="@HandleOpen"
        OnSubmit="@SendRequest"/>
</EditForm>

@code {
    private IEnumerable<UserDto> _foundUsers;
    private FormModel _model = new();

    private async Task HandleOpen()
    {
        _foundUsers = await _userApiService.SearchFriendByName(_model.UserName);
    }

    private async Task SendRequest(UserDto user)
    {
        await _userApiService.SendNewFriendRequest(user);
        await _userApiService.LoadCurrent();
    }

    private record FormModel
    {
        public string UserName { get; set; }
    }

}