@page "/Group/{groupId:guid}"
@using Frontend.Providers
@using Entities.GroupDto
@using Frontend.Components.Groups
@using Frontend.Components.Dialogs

@if (FoundGroup == null)
{
    return;
}

<GroupTitle Group="@FoundGroup"/>
<GroupUsers Group="@FoundGroup"/>
<GroupPayments Group="@FoundGroup"/>
<OpenableDialog>
    <Title>some title</Title>
    <Opener>
        <button @onclick="@context.OpenDialog">Add sth for fuck sake</button>
    </Opener>
    <ChildContent>
        <OpenableDialog Context="otherContext">
            <Title>some title2</Title>
            <Opener >
                <button @onclick="@otherContext.OpenDialog">Add sth for fuck sake</button>
            </Opener>
            <ChildContent >
                <button @onclick="@otherContext.CloseDialog">Zavri ma dopiče</button>
            </ChildContent>
        </OpenableDialog>
        <button @onclick="@context.CloseDialog">Zavri ma dopiče</button>
    </ChildContent>
</OpenableDialog>


@code {

    [Parameter]
    public Guid GroupId { get; set; }

    [CascadingParameter]
    public GroupServiceProvider GroupServiceProvider { get; set; }

    private SinglePurposeUserGroupDto FoundGroup =>
        GroupServiceProvider.UserGroups.FirstOrDefault(group => group.Id == GroupId);

    private void HandleSave()
    {
        
    }
}