@page "/Register"
@using Entities.AuthDto
@using Frontend.Services
@using Frontend.Components.UI
@inject AuthApiService _authService
@inject NavigationManager _navigationManager

<h3>Register</h3>

<EditForm Model="@_model" OnValidSubmit="@HandleSubmit" class="max-content-container">
    <ValidationSummary/>
    <div class="form-group">
        <label for="email">Email:&nbsp;</label>
        <InputText id="email" placeholder="Email" class="form-control" @bind-Value="@_model.Email"/>

        <label for="username">Username:&nbsp;</label>
        <InputText id="username" placeholder="Username" class="form-control" @bind-Value="@_model.Username"/>

        <label for="password">Password:&nbsp;</label>
        <InputText id="password" type="password" placeholder="Password" class="form-control" @bind-Value="@_model.Password"/>
    </div>

    <PrimaryButton type="submit">Register</PrimaryButton>
</EditForm>

@code {
    private readonly RegisterRequest _model = new();

    private async Task HandleSubmit()
    {
        await _authService.Register(_model);
        _navigationManager.NavigateTo("login");
    }

}